<% if notice %>
  <script>
     M.toast({html: '<%=notice%>', classes: 'rounded', inDuration: 100})
  </script>
<% end %>
<% if alert %>
  <script>
     M.toast({html: '<%=alert%>', classes: 'rounded', inDuration: 100})  
  </script>
<% end %>