<section class='container'>
    <div class='row'>
        <h1>Filmes</h1>
        <div class='col s12 center'>
            <%= render '/movies/movies', movies:@movies%>
        </div>
    <div>
    <div class='row'>
        <h1>Séries</h1>
        <div class='col s12 center'>
            <%= render '/shows/shows', shows:@shows%>
        </div>
    </div>
</div>