<%= form_with(model: subtitle, local: true) do |form| %>
  <% if subtitle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subtitle.errors.count, "error") %> prohibited this subtitle from being saved:</h2>

      <ul>
      <% subtitle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
