<section class='container'>
  <div class='row'>
    <div class='col offset-s3 s6'>
      <div class="card-panel white">
        <h4>Informaçoes de usuário</h4>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.label :nome %><br />
            <%= f.text_field :first_name, autofocus: true, autocomplete: "name" %>
          </div>
          <div class="field">
            <%= f.label :sobrenome %><br />
            <%= f.text_field :last_name, autofocus: true, autocomplete: "name" %>
          </div>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
            <%= f.label :senha %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
                <%= f.password_field :password, autocomplete: "new-password" %>
          </div>
          <div class="field">
            <%= f.label :confirme_sua_senha %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div> 
          <%= render '/addresses/form', f:f %>
          
          <div class="actions">
            <%= f.submit "Sign up" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
