<%movies.each do |movie|%>
    <div class='col s4'>
        <div class="card-panel teal">
            <span class="white-text">
                <%= movie.content.nome %>
            </span>
        </div>
    </div>
<%end%>