

<p>
  <strong>Estilo:</strong>
  <%= @categorium.estilo %>
</p>

<p>
  <strong>Genero:</strong>
  <%= @categorium.genero %>
</p>

<%= link_to 'Edit', edit_categorium_path(@categorium) %> |
<%= link_to 'Back', categoria_path %>
