<section class='container' style='padding-top:5rem'>
    <div class='row'>
        <div class='col s12 center'>
            <img src="<%= asset_path('logo.svg') %>">
            <h3 style="font-family: 'Bungee', cursive;" class='red-text'>Encontre aqui os melhores filmes e séries!</h3>
        </div>
    </div>
</div>
</section>


