<%accounts.each do |account|%>
    <div class="col s12 m12">
    <div class="card-panel grey darken-4">
        <span class="white-text">
            <%= link_to "Nome: #{account.full_name}", dashboard_index_path, :class => 'white-text'  %>
        </span>
    </div>
    </div>
<%end%>

    