<section class='container'>
    <div class='row'>
        <div id='center_div' class='col 12'>
            <%= render 'accounts', accounts:@accounts%>
        </div>
    </div>
</section>
<style>
    #center_div {
        position:fixed;
        top: 50%;
        left: 50%;
        margin-top: -9em; /*set to a negative number 1/2 of your height*/
        margin-left: -15em; /*set to a negative number 1/2 of your width*/
    }
    </style>