<h4> Informações de endereço </h4>
<%= f.fields_for :address do |c| %>
  <div class="field">
    <%= c.label :cep %><br />
    <%= c.text_field :zipcode, data: {provider: :zipcode} %>
  </div>
  <div class="field">
    <%= c.label :user_address_attributes_street %><br />
    <%= c.text_field :street, {provider: :street} %>
  </div>
  <div class="field">
    <%= c.label :bairro %><br />
    <%= c.text_field :neighborhood, {provider: :neighborhood} %>
  </div>
  <div class="field">
    <%= c.label :cidade %><br />
    <%= c.text_field :city,{provider: :city} %>
  </div>
  <div class="field">
    <%= c.label :estado %><br />
    <%= c.text_field :state, {provider: :state} %>
  </div>
<% end %>
 <!-- Adicionando Javascript -->
<script type="text/javascript" >

      $(document).ready(function() {

          function limpa_formulário_cep() {
              // Limpa valores do formulário de cep.
              $("#user_address_attributes_street").val("");
              $("#user_address_attributes_neighborhood").val("");
              $("#user_address_attributes_city").val("");
              $("#user_address_attributes_state").val("");
          }
            
          //Quando o campo cep perde o foco.
          $("#user_address_attributes_zipcode").blur(function() {

              //Nova variável "cep" somente com dígitos.
              var cep = $(this).val().replace(/\D/g, '');

              //Verifica se campo cep possui valor informado.
              if (cep != "") {

                  //Expressão regular para validar o CEP.
                  var validacep = /^[0-9]{8}$/;

                  //Valida o formato do CEP.
                  if(validacep.test(cep)) {

                      //Preenche os campos com "..." enquanto consulta webservice.
                      $("#user_address_attributes_street").val("...");
                      $("#user_address_attributes_neighborhood").val("...");
                      $("#user_address_attributes_city").val("...");
                      $("#user_address_attributes_state").val("...");

                      //Consulta o webservice viacep.com.br/
                      $.getJSON("https://viacep.com.br/ws/"+ cep +"/json/?callback=?", function(dados) {

                          if (!("erro" in dados)) {
                              //Atualiza os campos com os valores da consulta.
                              $("#user_address_attributes_street").val(dados.logradouro);
                              $("#user_address_attributes_neighborhood").val(dados.bairro);
                              $("#user_address_attributes_city").val(dados.localidade);
                              $("#user_address_attributes_state").val(dados.uf);
                          } //end if.
                          else {
                              //CEP pesquisado não foi encontrado.
                              limpa_formulário_cep();
                              alert("CEP não encontrado.");
                          }
                      });
                  } //end if.
                  else {
                      //cep é inválido.
                      limpa_formulário_cep();
                      alert("Formato de CEP inválido.");
                  }
              } //end if.
              else {
                  //cep sem valor, limpa formulário.
                  limpa_formulário_cep();
              }
          });
      });

    </script>