<p>
  <strong>Cidade:</strong>
  <%= @address.cidade %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @address.pais %>
</p>

<p>
  <strong>Rua:</strong>
  <%= @address.rua %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @address.numero %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
