<%shows.each do |show|%>
    <div class='col s4'>
        <div class="card-panel teal">
            <span class="white-text">
                <%= show.content.nome %>
            </span>
        </div>
    </div>
<%end%>