<%= form_with(model: plan, local: true) do |form| %>
  <% if plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :valor %>
    <%= form.text_field :valor %>
  </div>

  <div class="field">
    <%= form.label :telas %>
    <%= form.number_field :telas %>
  </div>

  <div class="field">
    <%= form.label :qualidade %>
    <%= form.text_field :qualidade %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
