<section class='container'>
<h4> Escolha seu plano </h4>
<%= form_for @plan, :html => { :method => :post } do |f| %>
  <div class='row'>
    <div clas='col s1'>
      <%= f.select :id, @plans.collect { |plan| [plan.nome, plan.id] } %>
    </div>
  </div>
</div>
<div class="actions">
  <%= f.submit "Escolher plano" %>
</div>
<%end%>