
<p>
  <strong>Valor:</strong>
  <%= @plan.valor %>
</p>

<p>
  <strong>Telas:</strong>
  <%= @plan.telas %>
</p>

<p>
  <strong>Qualidade:</strong>
  <%= @plan.qualidade %>
</p>

<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
