<nav>
	<div class="nav-wrapper">
  <% unless action_name == 'index' %>
   <a href="/" class="brand-logo"> <img style='width:100%;padding: 12px;' src="<%= asset_path('logo.svg') %>"> </a>
  <%end%>
    <% if user_signed_in? %>
      <span class='left' style='padding-left:10px;'>Logado como <strong style='text-transform: capitalize;'><%= current_user.full_name %></strong></span>
    <% end %>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if user_signed_in? %>
        <li><%= link_to 'Perfil', edit_user_registration_path, :class => 'navbar-link' %> </li>
        <li><%= link_to 'Selecionar Conta', select_account_index_path, :class => 'navbar-link' %> </li>
        <li><%= link_to 'Nova conta', new_account_path, :class => 'navbar-link' %> </li>

        <li><%= link_to "Sair", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> </li>
      <% else %>
        <li><%= link_to "Cadastrar", new_user_registration_path, :class => 'navbar-link'  %> </li>
        <li><%= link_to "Logar", new_user_session_path, :class => 'navbar-link'  %> </li>
      <% end %>
    </ul>
  </div>
</nav>