<ul id="slide-out" class="sidenav sidenav-fixed">
    <li><a href="#!">Second Sidebar Link</a></li>
    <div class="collection">
        <%= link_to 'Perfil', edit_user_registration_path, :class => 'collection-item' %>
        <%= link_to 'Categoria', categoria_path, :class => 'collection-item' %>
        <a href="#!" class="collection-item">Alvin</a>
        <a href="#!" class="collection-item">Alvin</a>
        <a href="#!" class="collection-item">Alvin</a>
        <%= link_to 'Sair', destroy_user_session_path, :class => 'collection-item' %>
    </div>
</ul>

<style>
html {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}
</style>