<!DOCTYPE html>
<html>
<style>
@import url('https://fonts.googleapis.com/css?family=Bungee|Bungee+Inline|Bungee+Shade&display=swap');
</style>
  <head>
    
    <title>Streaming</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <%= render '/layouts/navbar' %>
  <body>
    <%= render '/notification/devise'%>
    <%= yield %>
  </body>
</html>
<style>
      body {
        background-image: url("<%= asset_path('home_background.jpg') %>");
        background-repeat: no-repeat;
        background-size: cover;
      }
      nav {
          background-color: transparent;
          box-shadow: none;
          line-height: 120px;
      }
      nav ul a {
          color: #FF0000;
          font-family: 'Bungee', cursive;
          font-size: 1.5rem;
      }

</style>
