<section class='container'>
    <div clas='row'>
        <div class='col s12'>
            <h1>Crie sua conta</h1>
                <%= render 'form', account: @account %>
                <%= link_to "Voltar", select_account_index_path, class: 'button' %>
        </div>
    </div>
</section>
