
<p>
  <strong>Email:</strong>
  <%= @account.email %>
</p>

<p>
  <strong>Identidade:</strong>
  <%= @account.identidade %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
